body {
		font-family: "Arial", "Meiryo", sans-serif;		
		text-align: center;		
}
.decoration01 {
	color: skyblue;
}
.decoration02 {
	color: rgb(255, 192, 203);
}
h1 {	
	font-size: 2rem;
	font-family: "josefin-sans", sans-serif;
	letter-spacing: 1.2em;
	text-shadow: 1px 1px 2px green;
	border-bottom: solid 3px rgb(115, 115, 114);
}
#basic > p {
	font-weight: bold;
}
